<link rel="stylesheet" href="{{ 'home-zinara-collections.css' | asset_url }}">
<div class="page-width home-zinara-collections__container">
  <h2>{{ section.settings.heading }}</h2>
  <div class="zinara-collection_container">
    {% for block in section.blocks %}
      <a
        href="{{ block.settings.collection_link }}"
        class="zinara-collection_link"
        style="grid-column: {{ forloop.index }}"
      >
        <img
          src="{{ block.settings.collection_desktop_image | image_url: width: 600 }}"
          alt="{{ block.settings.collection_title }}"
          class="zinara-collection_image"
          width="{{ block.settings.collection_desktop_image.width }}"
          height="{{ block.settings.collection_desktop_image.height }}"
          loading="lazy"
        >
        <img
          src="{{ block.settings.collection_mobile_image | image_url: width: 400 }}"
          alt="{{ block.settings.collection_title }}"
          class="zinara-collection_mobile-image"
          width="{{ block.settings.collection_mobile_image.width }}"
          height="{{ block.settings.collection_mobile_image.height }}"
          loading="lazy"
        >
        <h3 class="zinara-collection_title">{{ block.settings.collection_title }}</h3>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Home Zinara Collections",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Zinara Collections"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "collection_title",
          "label": "Collection Title"
        },
        {
          "type": "url",
          "id": "collection_link",
          "label": "Collection Link"
        },
        {
          "type": "image_picker",
          "id": "collection_desktop_image",
          "label": "Collection Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "collection_mobile_image",
          "label": "Collection Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Zinara Collections"
    }
  ]
}
{% endschema %}